<div class="email" style="font-size: 15px; font-weight: bold; margin: 20px">
  <p>Есть вопрос? Напиши мне в телеграм</p>
  <%= link_to "VovaK0",
              'https://t.me/VovaK0',
              { style: 'color: #B00100;'}
  %>
</div>